{% extends 'layout.html' %}

<!-- The form in HTML -->
{% block form %}
	<section>
		<div class="row" id="form-container">	
			<div class="container">
				<form id="theForm" method="POST" enctype="multipart/form-data">
					<ul class="collapsible" data-collapsible="accordion">
						<!-- Qëllimi i njoftimit -->
					  	<li>
						    	<div class="sect1 collapsible-header active"><i id="step1" class="material-icons">filter_1</i>Qëllimi i njoftimit </div>
						    	<div class="section1 info-purpose collapsible-body">
						    		<p>
						    			<input name="fillimi_sherbimit" name="service-start" type="checkbox" class="filled-in" id="service-start"/>
		      							<label for="service-start">Fillimi i shërbimit</label>
						    		</p>
						    		<p>
						    			<input name="shtimi_sherbimi" type="checkbox" class="filled-in" id="grow-service" />
		      							<label for="grow-service">Shtim shërbimi</label>
						    		</p>
						    		<p>
						    			<input name="heqje_sherbimi" type="checkbox" class="filled-in" id="service-removal" />
		      							<label for="service-removal">Heqje shërbimi</label>
						    		</p>
						    	</div>
					  	</li>

					  	<!-- Të dhënat për ndërmarrësin -->
					  	<li>
						    	<div class="sect2 collapsible-header"><i id="step2" class="material-icons">filter_2</i>Të dhënat për ndërmarrësin</div>
						    	<div class="section2 info-company collapsible-body col s12">
							    	<div class="row info-company-field">
							    		<div class="col s4">
							         	<p>1.1 - Emri i Ndërmarrësit (Entiteti):</p>
							         </div>
							         <div class="input-field col s8">
							         	<!-- max. 20chars -->
							         	<input required="required" name="emri_ndermarresit"  placeholder="Emri i Ndërmarrësit" type="text" id="emri_ndermarresit">
							         </div>
							      </div>

							      <div class="row info-company-field">
								         <div class="col s4">
								         	<p>1.2 - Numri i Regjistrimit të Biznesit:</p>
								         </div>
								         <div class="input-field col s8">
								         <!-- max. 9numbers -->
								         	<input id="numri_regjistrimit_biznesit" name="numri_regjistrimit_biznesit" placeholder="Numri i Regjistrimit të Biznesit" type="text">
								         </div>
								   </div>

								   <div class="row info-company-field">
								         <div class="col s4">
								         	<p>1.3 - Numri fiskal</p>
								         </div>
								         <div class="input-field col s8">
								         <!-- max. 9numbers-->
								         	<input id="numri_fiskal" name="numri_fiskal" placeholder="Numri fiskal" type="text">
								         </div>
								   </div>

								   <div class="row info-company-field">
								         <div class="col s4">
								         	<p>1.4 - Adresa</p>
								         </div>
								         <div class="input-field col s8">
								         <!-- max. 30letters-->
								         	<input id="adresa_ndermarresit" name="adresa_ndermarresit" placeholder="Adresa" type="text">
								         </div>
								   </div>

								   <div class="row  info-company-field">
								         <div class="col s4">
								         	<p>1.5 - Numri i Telefonit</p>
								         </div>
								         <div class="input-field col s8">
								         <!-- mx. 10letters -->
								         	<input id="numri_tel" name="numri_tel" placeholder="Numri i Telefonit" type="tel">
								         </div>
								   </div>

								   <div class="row info-company-field">
								         <div class="col s4">
								         	<p>1.6 - Numri i Faksit</p>
								         </div>
								         <div class="input-field col s8">
								         	<!-- max. 9numbers-->
								         	<input id="num_fax" name="num_fax" placeholder="Numri i Faksit" type="tel">
								         </div>
								   </div>

								   <div class="row info-company-field">
								         <div class="col s4">
								         	<p>1.7 - E-mail adresa</p>
								         </div>
								         <div class="input-field col s8">
								         	<input id="email_ndermarresit" name="email_ndermarresit" placeholder="E-mail adresa" type="email" class="validate">
								         </div>
								   </div>
						    	</div>
					  	</li>

					  	<!-- Të dhënat për zyrtarin ligjërisht të përgjegjëshëm -->
					  	<li>
						    	<div class="sect3 collapsible-header"><i id="step3" class="material-icons">filter_3</i>Të dhënat për zyrtarin ligjërisht të përgjegjëshëm</div>
						    	<div class="section3 info-company collapsible-body col s12">
							    	<div class="row info-company-field">
							    		<div class="col s4">
							         	<p>2.1 - Emri i zyrtarit:</p>
							         </div>
							         <div class="input-field col s8">
							         	<!-- max. 10 letters -->
							         	<input id="emri_zyrtarit" name="emri_zyrtarit" placeholder="Emri i zyrtarit" type="text">
							         </div>
							      </div>

							      <div class="row info-company-field">
								         <div class="col s4">
								         	<p>2.2 - Adresa:</p>
								         </div>
								         <div class="input-field col s8"> 
								         <!--max. 25letters-->
								         	<input id="adresa_zyrtarit" name="adresa_zyrtarit" placeholder="Adresa" type="text">
								         </div>
								   </div>

								   <div class="row info-company-field">
								         <div class="col s4">
								         	<p>2.3 - Numri i Telefonit</p>
								         </div>
								         <div class="input-field col s8">
								         <!-- max. 10letters-->
								         	<input id="numri_telefonit_zyrtarit" name="numri_telefonit_zyrtarit" placeholder="Numri i Telefonit" type="text" class="validate">
								         </div>
								   </div>

								   <div class="row info-company-field">
								         <div class="col s4">
								         	<p>2.4 - Numri i Faksit</p>
								         </div>
								         <div class="input-field col s8">
								         <!--max.25letters-->
								         	<input id="num_fax_zyrtarit" name="num_fax_zyrtarit" placeholder="Numri i faksit" type="text" class="validate">
								         </div>
								   </div>

								   <div class="row  info-company-field">
								         <div class="col s4">
								         	<p>2.5 - E-mail adresa</p>
								         </div>
								         <div class="input-field col s8">
								         	<input id="email_address_zyrtarit" name="email_address_zyrtarit" placeholder="E-mail adresa" type="tel" class="validate">
								         </div>
								   </div>

								   <div class="row info-company-field">
								         <div class="col s4">
								         	<p>2.6 - Numri i ID</p>
								         </div>
								         <div class="input-field col s8">
								         	<!--max.23 numbers-->
								         	<input id="num_id" name="num_id" placeholder="Numri i ID" type="tel" class="validate">
								         </div>
								   </div>
						    	</div>
					  	</li>

					  	<!-- Aktivitetet të cilat njoftohen/cregjistrohen -->
					  	<li>
						    	<div class="sect4 collapsible-header"><i id="step4" class="material-icons">filter_4</i>Aktivitetet të cilat njoftohen/çregjistrohen</div>
						    	<div class="section4 collapsible-body">
						    		<table>
							        <thead>
							          <tr>
							              <th class="num-data" data-field="id">Nr.</th>
							              <th data-field="name">Aktiviteti</th>
							              <th data-field="price">Lloji</th>
							          </tr>
							        </thead>

							        <tbody>
							          <tr class="table-row">
							            <td class="num-data">1.</td>
							            <td>Ofrimi i rrjetit publik fiks</td>
							            <td>
						            		<input name="ofrimi_rrjetit_publik_fiks_lokal" type="checkbox" class="filled-in" id="ofrimi_rrjetit_publik_fiks_lokal" />
	      								<label for="ofrimi_rrjetit_publik_fiks_lokal">Lokal</label><br/>
	      								<input name="ofrimi_rrjetit_publik_fiks_nacional" type="checkbox" class="filled-in" id="ofrimi_rrjetit_publik_fiks_nacional" />
	      								<label for="ofrimi_rrjetit_publik_fiks_nacional">Nacional</label><br/>
	      								<input type="checkbox" class="filled-in etc_check" id="etc" />
	      								<label for="etc">Tjera:</label>
	      								<input name="ofrimi-rrjetit-publik-fiks-tjera" placeholder="Specifiko" type="text" class="specify animated fadeIn validate specify-input">
							            </td>
							          </tr>

							          <tr class="table-row">
							            <td class="num-data">2.</td>
							            <td>Ofrimi i shërbimeve publike fikse</td>
							            <td>
							            		<input name="sherbime_tel_lokale_nacionale" type="checkbox" class="filled-in" id="sherbime_tel_lokale_nacionale" />
		      								<label for="sherbime_tel_lokale_nacionale">Shërbime telefonike lokale/nacionale</label><br/>
		      								<input name="sherbime_tel_nderkombetare" type="checkbox" class="filled-in" id="sherbime_tel_nderkombetare" />
		      								<label for="sherbime_tel_nderkombetare">Shërbime telefonike ndërkombëtare</label><br/>

		      								<input type="checkbox" class="filled-in etc_check_2" id="etc-2" />
		      								<label for="etc-2">Shërbime tjera:</label>

		      								<input name="ofrimi-sherbimeve-publike-fikse-tjera" placeholder="Specifiko" type="text" class="specify-2 animated fadeIn validate specify-input">
							            </td>
							          </tr>

							          <tr class="table-row">
							            <td class="num-data">3.</td>
							            <td>Ofrimi i rrjetit publik mobil</td>
							            <td>
							            		<input name="ofrimi_rrjetit_publik_mobil_lokal" type="checkbox" class="filled-in" id="ofrimi_rrjetit_publik_mobil_lokal" />
		      								<label for="ofrimi_rrjetit_publik_mobil_lokal">Lokal</label><br/>
		      								<input name="ofrimi_rrjetit_publik_mobil_nacional" type="checkbox" class="filled-in" id="ofrimi_rrjetit_publik_mobil_nacional" />
		      								<label for="ofrimi_rrjetit_publik_mobil_nacional">Nacional</label><br/>
							            </td>
							          </tr>

							          <tr class="table-row">
							            <td class="num-data">4.</td>
							            <td>Ofrimi i shërbimeve publike mobile</td>
							            <td>
							            		<input name="sherbime_tel_zerit" type="checkbox" class="filled-in" id="sherbime_tel_zerit" />
		      								<label for="sherbime_tel_zerit">Shërbime telefonike të zërit</label><br/>
		      								<input name="transmetim_dhenash" type="checkbox" class="filled-in" id="transmetim_dhenash" />
		      								<label for="transmetim_dhenash">Transmetim të dhënash</label><br/>
							            </td>
							          </tr>

							          <tr class="table-row">
							            <td class="num-data">5.</td>
							            <td>Ofrimi i shërbimeve të linjave me qira</td>
							            <td>
							            		<input name="fiber_optik_pa_ndriqim" type="checkbox" class="filled-in" id="fiber_optik_pa_ndriqim" />
		      								<label for="fiber_optik_pa_ndriqim">Fibër optik të pa-ndriçuar</label><br/>
		      								<input name="linja_tjera_qira" type="checkbox" class="filled-in" id="linja_tjera_qira" />
		      								<label for="linja_tjera_qira">Linja tjera me qira</label><br/>
							            </td>
							          </tr>

							          <tr class="table-row">
							            <td class="num-data">6.</td>
							            <td>Ofrimi i rrjetave publike me transmetim satelitor</td>
							            <td>
							            		<input name="ofrimi_rrjetave_publike_transmetim_satelitor" type="checkbox" class="filled-in" id="ofrimi_rrjetave_publike_transmetim_satelitor" />
		      								<label for="ofrimi_rrjetave_publike_transmetim_satelitor">Ofrimi i rrjetave publike me transmetim satelitor</label><br/>
							            </td>
							          </tr>

							          <tr class="table-row">
							            <td class="num-data">7.</td>
							            <td>Ofrimi i shërbimeve publike satelitore</td>
							            <td>
							            		<input name="ofrimi_sherbimeve_publike_satelitore" type="checkbox" class="filled-in" id="ofrimi_sherbimeve_publike_satelitore" />
		      								<label for="ofrimi_sherbimeve_publike_satelitore">Ofrimi i shërbimeve publike satelitore</label><br/>
							            </td>
							          </tr>

							          <tr class="table-row">
							            <td class="num-data">8.</td>
							            <td>Ofrimi i shërbimeve të transmetimit të të dhënave (Internetit)</td>
							            <td>
							            		<input name="ofrimi_sherbimeve_publike_transmetimit_te_dhenave" type="checkbox" class="filled-in" id="ofrimi_sherbimeve_publike_transmetimit_te_dhenave" />
		      								<label for="ofrimi_sherbimeve_publike_transmetimit_te_dhenave">Ofrimi i shërbimeve publike të transmetimit të të
	      									dhënave(internetit)</label><br/>
							            </td>
							          </tr>

							          <tr class="table-row">
							            <td class="num-data">9.</td>
							            <td>Ofrimi i shërbimeve me vlerë të shtuar</td>
							            <td>
							            		<input name="ofrimi_sherbime_me_vlere_te_shtuar" type="checkbox" class="filled-in" id="ofrimi_sherbime_me_vlere_te_shtuar" />
		      								<label for="ofrimi_sherbime_me_vlere_te_shtuar">Ofrimi i shërbimeve me vlerë të shtuar</label><br/>
							            </td>
							          </tr>

							        </tbody>
							      </table>
						    	</div>
					  	</li>

					  	<!-- Përshkrimi i aktivitetit dhe faza e ofrimit -->
					  	<li>
						    	<div class="sect5 collapsible-header"><i id="step5" class="material-icons">filter_5</i>Përshkrimi i aktivitetit dhe faza e ofrimit</div>
						    	<div class="section5 collapsible-body activity-desc col s12">
						    		<div class="row activity-desc-field">
								         <div class="col m5 s12">
								         	<b><p>Përshkrimi i rrjetit dhe/ose shërbimit që do të ofrohet:</b>
								         	(Të jepen përshkrime të detajuara për secilin aktivitet të njoftuar duke specifikuar:<br/>
								         		• A do të përdoret rrjeti vetanak apo ndonjë rrjet tjetër<br/>
								         		• Teknologjia e cila do të përdoret<br/>
								         		• Radio frekuencat, të cilat planifikohen të përdoren<br/>
								         		• Lista e shërbimeve që planifikohen të ofrohen<br/>
								         		• Etj.<br/>
								         	Mund të përdoret ndonjë Shtojcë i veçantë në rast se hapësira nuk është e mjaftueshme)
								         	</p>
								         </div>
								         <div class="input-field textarea col m7 s12">
								         	<p class="text-area-1">
								         	<textarea name="pershkrimi_aktivetit_faza_ofrimit" id="pershkrimi_aktivetit_faza_ofrimit" class="materialize-textarea"></textarea>
	          								<label for="pershkrimi_aktivetit_faza_ofrimit">Shëno këtu:</label>
	          								</p>
								         </div>
								   </div>
								   <div class="row activity-desc-field">
								         <div class="col m5 s12">
								         	<b><p>Faza e Ofrimit:</b><br />
								         	(Të specifikohet koha e parashikuar për fillimin e aktivitetit të komunikimeve elektronike)
								         	</p>
								         </div>
								         <div class="input-field textarea col m7 s12">
								         	<p class="text-area-1">
								         	<textarea name="faza_ofrimit" id="faza_ofrimit" class="materialize-textarea"></textarea>
	          								<label for="faza_ofrimit">Shëno këtu:</label>
	          								</p>
								         </div>
								   </div>
						    	</div>
					  	</li>

					  	<!-- Dokumentet e bashkangjitura -->
					  	<li>
						    	<div class="sect6 collapsible-header"><i id="step6" class="material-icons">filter_6</i>Dokumentet e bashkangjitura</div>
						    	<div class="section6 collapsible-body col s12 docs">
						    		<div class="row docs-desc-field">
							    		<div class="col m6 s12">
							    			<p>Kopje e certifikatës së regjistrimit të biznesit</p>
							    		</div>
							    		<div class="file-sect col m6 s12">
							    			<div class="file-field input-field">
									      <div class="btn">
									        <span>Bashkangjit</span>
									        <input id="certifikata_regjistrimit_biznesit" name="certifikata_regjistrimit_biznesit" type="file">
									      </div>
									      <div class="file-path-wrapper">
									        <input placeholder="Kopjen e certifikatës së regjistrimit të biznesit" class="file-path validate" type="text">
									      </div>
									    </div>
							    		</div>
							    	</div>

							    	<div class="row docs-desc-field">
							    		<div class="col m6 s12">
							    			<p>Kopje e certifikatës së numrit fiskal</p>
							    		</div>
							    		<div class="file-sect col m6 s12">
							    			<div class="file-field input-field">
									      <div class="btn">
									        <span>Bashkangjit</span>
									        <input id="kopje_certifikates_numrit_fiskal" name="kopje_certifikates_numrit_fiskal" type="file">
									      </div>
									      <div class="file-path-wrapper">
									        <input placeholder="Kopjen e certifikatës së numrit fiskal" class="file-path validate" type="text">
									      </div>
									    </div>
							    		</div>
							    	</div>


							    	<div class="row docs-desc-field">
							    		<div class="col m6 s12">
							    			<p>Kopje e dokumentit ‘Informatë mbi biznesin</p>
							    		</div>
							    		<div class="file-sect col m6 s12">
							    			<div class="file-field input-field">
									      <div class="btn">
									        <span>Bashkangjit</span>
									        <input id="kopje_dokumentit_informate_mbi_biznesin" name="kopje_dokumentit_informate_mbi_biznesin" type="file">
									      </div>
									      <div class="file-path-wrapper">
									        <input placeholder="Kopjen e dokumentit ‘Informatë mbi biznesin" class="file-path validate" type="text">
									      </div>
									    </div>
							    		</div>
							    	</div>
						    	</div>
					  	</li>

					  	<!-- Konfirmimi i njoftimit -->
					  	<li>
							<div class="sect7 collapsible-header"><i id="step7" class="material-icons">filter_7</i>Konfirmimi i njoftimit</div>
							   	<div class="section7 info-confirm collapsible-body col s12">
								  	<p>Ndërmarrja kërkon që t’i lëshohet certifikata e konfirmimit të njoftimit për ofrimin e rrjeteve dhe/ose shërbimeve publike të komunikimeve elektronike të njoftuara përmes këtij formulari:</p>
							    		<p>
						      			<input class="with-gap" name="konfirmimi_njoftimit" type="radio" id="konfirmimi_njoftimit_po"  />
						      			<label for="konfirmimi_njoftimit_po">Po</label>
							    		</p>
									<p>
						      			<input class="with-gap" name="konfirmimi_njoftimit" type="radio" id="konfirmimi_njoftimit_jo"  />
						      			<label for="konfirmimi_njoftimit_jo">Jo</label>
							    		</p>
						    	</div>
					  	</li>

					  	<!-- Detyrimet ligjore -->
					  	<li>
						    	<div class="sect8 collapsible-header"><i id="step8" class="material-icons">filter_8</i>Detyrimet ligjore</div>
						    	<div class="section8 laws collapsible-body">
						    		<p>
								    	<input name="detyrimi_ligjor_1" type="checkbox" class="filled-in" id="detyrimi_ligjor_1" />
								    	<label for="detyrimi_ligjor_1">Unë nëpërmjet këtij dokumenti deklaroj se do të ushtroj aktivitet në fushën e komunikimeve elektronike të shënuara më sipër dhe aplikoj për regjistrim në regjistrin e ofrueseve të rrjeteve dhe shërbimeve të komunikimeve elektronike të Autoritetit (ARKEP).</label>
								    </p>
								    <p>
								    	<input name="detyrimi_ligjor_2" type="checkbox" class="filled-in" id="detyrimi_ligjor_2" />
								    	<label for="detyrimi_ligjor_2">Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur aktivitetet e komunikimeve elektronike të shënuara më sipër.</label>
								    </p>
								    <p>
								    	<input name="detyrimi_ligjor_3" type="checkbox" class="filled-in" id="detyrimi_ligjor_3" />
								    	<label for="detyrimi_ligjor_3">Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur çdo aktivitet të komunikimeve elektronike nën regjimin e Autorizimit të përgjithshëm.</label>
								    </p>
								    <p>
								    	<input name="detyrimi_ligjor_4" type="checkbox" class="filled-in" id="detyrimi_ligjor_4" />
								    	<label for="detyrimi_ligjor_4">Unë nëpërmjet këtij dokumenti deklaroj se të dhënat e mia kanë pësuar ndryshime, sikurse përshkruhen në formular.</label>
								    </p>
								    <p>
								    	<input name="detyrimi_ligjor_5" type="checkbox" class="filled-in" id="detyrimi_ligjor_5" />
								    	<label for="detyrimi_ligjor_5">Unë nëpërmjet këtij dokumenti deklaroj se kam ndryshuar formën ligjore të ndërmarrjes sime siç përshkruhet në formular. Emri i vjetër është si më poshtë:</label>
								    	<input name="emri_i_vjeter" placeholder="Shëno këtu:" id="emri_i_vjeter" type="text" class="validate">
								    </p>

								    <p><i>Unë nëpërmjet këtij dokumenti paraqes në ARKEP të gjithë dokumentacionin e nevojshëm ligjor dhe/ose të gjithë dokumentet që sigurojnë se nënshkruesi i këtij Njoftimi Regjistrimi ka lidhje me personin përfaqësues.<br /><br />
									Unë deklaroj se informacioni që përfshihet në deklarimin e paraqitur, sikurse çdo informacion tjetër shoqërues , është i saktë dhe i vërtetë, dhe jam plotësisht i vetëdijshëm për faktin që, lidhur me angazhimin në çdo aktivitet të komunikimeve elektronike për të cilin është e nevojshme të sigurosh të drejtën e përdorimit për numeracion dhe frekuenca, të drejta të cilat nuk sigurohen nëpërmjet kësaj procedurë, unë duhet të paraqes një aplikim për të fituar të drejtat e përdorimit të cituara më sipër përpara fillimit të ofrimit të shërbimit.</i></p>
						    	</div>
					  	</li>
					</ul>
					<div class="row">
						<div class="col m6 s12">
					        Data e Njoftimit:
					        <div class="input-field inline">
					        	<input name="data-e-njoftimit" class="datepicker" placeholder="Zgjedh datën" id="data_e_njoftimit" type="date" class="validate">
					        </div><br/>
					        Vendi:
					        <div class="input-field inline">
					        	<input name="vendi" placeholder="Shëno vendin" id="vendi" type="text" class="validate">
					        </div><br/>
						</div>
						<div class="col m6 s12">
							Nënshkrimi dhe Vula:
							<div class="input-field inline">
								<input name="nenshkrimi" placeholder="Shëno" id="nenshkrimi" type="text" class="validate">
							</div>
						</div>
					</div>
					<button id="submitButton" class="btn btn-large waves-effect waves-light" type="submit">Dërgo formularin
						<i class="material-icons right">send</i>
					</button>
				</form>
				
			</div>
		</div>
	</section>
{% endblock %}