{% extends 'layout.html' %}

{% block reports %}
	<div class="container">
		<a href="http://0.0.0.0:5000/form">Go to back to Form Page</a>
		<h1 style="text-align: center; height: 100%;">Here you can find the reports</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia dictum odio sed suscipit. Duis ut erat dolor. Vivamus accumsan at sapien vel pellentesque. Morbi ante enim, mattis ac lobortis a, maximus sed justo. Vestibulum vestibulum iaculis mi, vel porta mauris placerat sit amet. Pellentesque pulvinar tellus non dapibus varius. Ut ultricies tellus nec molestie accumsan. Suspendisse potenti. Ut quis est placerat, tincidunt nulla vitae, tempus ante. Duis commodo, erat ac vehicula commodo, elit nibh molestie tortor, non auctor mi quam vitae risus. Proin congue neque dui, vitae venenatis lacus eleifend sed.</p>
	</div>
{% endblock %}